body {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

canvas {
  border-radius: 1rem;
}

input[type='text'] {
  font: inherit;
  padding: 0.5rem;
  width: 300px;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
